<div>
  <label><b>First name : </b></label>
  {{ user.firstName }}<br />
  <label><b>Last name : </b></label>
  {{ user.lastName }}<br />
  <label><b>Date of birth : </b></label>
  {{ user.dateOfBirth }}<br />
  <label><b>Email Id : </b></label>
  {{ user.emailId }}<br />
  <label><b>Mobile number :</b></label>
  {{ user.mobileNo }}<br />
  <label><b>Address : </b></label>
  {{ user.address }}<br />
  <label><b>Bank name :</b></label>
  {{ user.bankName }}<br />
  <label><b>Account number : </b></label>
  {{ user.accountNo }}<br />
  <label><b>IFSC code :</b></label>
  {{ user.ifscCode }}<br />
  <label><b>Pancard number :</b></label>
  {{ user.pancardNumber }}<br />
  <label><b>Aadhar number : </b></label>
  {{ user.aadharNumber }}<br />
  <label><b>Card type : </b></label>
  {{ user.cardType }}<br />
  <!-- <label><b>Document status : </b></label>
  {{ user.docUpload }}<br /> -->
</div>
