<form #registerForm="ngForm" (ngSubmit)="register()">
  <div class="container register">
    <div class="row">
      <div class="col-md-3 register-left">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
        <h3>Welcome !</h3>
        <input
          type="submit"
          name=""
          value="Login"
          onclick="location.href = 'http://localhost:4200/login';"
        /><br />
        <p>Already Register ?</p>
      </div>
      <div class="col-md-9 register-right">
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <h3 class="register-heading">Register here..</h3>
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    #firstName="ngModel"
                    pattern="[a-zA-Z]+"
                    class="form-control"
                    placeholder="First Name *"
                    name="firstName"
                    [(ngModel)]="user.firstName"
                    required
                  />
                </div>
                <div
                  style="color: red"
                  *ngIf="
                    firstName.invalid && (firstName.dirty || firstName.touched)
                  "
                >
                  <div *ngIf="firstName.errors?.required">
                    Name cannot be empty
                  </div>
                  <div *ngIf="firstName.errors?.pattern">
                    Must contain characters
                  </div>
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    #lastName="ngModel"
                    pattern="[a-zA-Z]+"
                    class="form-control"
                    placeholder="Last Name *"
                    name="lastName"
                    [(ngModel)]="user.lastName"
                    required
                  />
                </div>
                <div
                  style="color: red"
                  *ngIf="
                    lastName.invalid && (lastName.dirty || lastName.touched)
                  "
                >
                  <div *ngIf="lastName.errors?.required">
                    Name cannot be empty
                  </div>
                  <div *ngIf="lastName.errors?.pattern">
                    Must contain characters
                  </div>
                </div>

                <div class="form-group">
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Date of Birth"
                    name="dateOfBirth"
                    [(ngModel)]="user.dateOfBirth"
                    required
                  />
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Address *"
                    name="address"
                    [(ngModel)]="user.address"
                    required
                  />
                </div>

                <div class="form-group">
                  <input
                    type="tel"
                    #mobileNo="ngModel"
                    pattern="[0-9]{10}"
                    minlength="10"
                    maxlength="10"
                    name="txtEmpPhone"
                    class="form-control"
                    placeholder="Your Phone *"
                    name="mobileNo"
                    [(ngModel)]="user.mobileNo"
                    required
                  />
                </div>
                <div
                  style="color: red"
                  *ngIf="
                    mobileNo.invalid && (mobileNo.dirty || mobileNo.touched)
                  "
                >
                  <div *ngIf="mobileNo.errors?.required">
                    Number cannot be empty
                  </div>
                  <div *ngIf="mobileNo.errors?.pattern">
                    Must contain 10 number
                  </div>
                </div>

                <div class="form-group">
                  <input
                    type="email"
                    #emailId="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                    class="form-control"
                    placeholder="Email Address *"
                    name="emailId"
                    [(ngModel)]="user.emailId"
                    required
                  />
                </div>
                <div
                  style="color: red"
                  *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)"
                >
                  <div *ngIf="emailId.errors?.required">
                    Email cannot be empty
                  </div>
                  <div *ngIf="emailId.errors?.pattern">
                    Must follow pattern ex- Bhavna@lti.com
                  </div>
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    #bankName="ngModel"
                    pattern="[a-zA-Z\s]+"
                    class="form-control"
                    placeholder="Bank name *"
                    name="bankName"
                    [(ngModel)]="user.bankName"
                    required
                  />
                </div>
                <div
                  style="color: red"
                  *ngIf="
                    bankName.invalid && (bankName.dirty || bankName.touched)
                  "
                >
                  <div *ngIf="bankName.errors?.pattern">
                    Enter valid Bank name
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="number"
                    #accountNo="ngModel"
                    pattern="[0-9]{12}"
                    class="form-control"
                    placeholder="Account No *"
                    name="accountNo"
                    [(ngModel)]="user.accountNo"
                    required
                  />
                </div>
                <div
                  style="color: red"
                  *ngIf="
                    accountNo.invalid && (accountNo.dirty || accountNo.touched)
                  "
                >
                  <div *ngIf="accountNo.errors?.required">
                    Aadhar Number cannot be empty
                  </div>
                  <div *ngIf="accountNo.errors?.pattern">
                    Must contain 12 number
                  </div>
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    #ifscCode="ngModel"
                    pattern="[A-Z]{4}[0-9]{8}"
                    class="form-control"
                    placeholder="IFSC Code *"
                    name="ifscCode"
                    [(ngModel)]="user.ifscCode"
                    required
                  />
                </div>
                <div
                  style="color: red"
                  *ngIf="
                    ifscCode.invalid && (ifscCode.dirty || ifscCode.touched)
                  "
                >
                  <div *ngIf="ifscCode.errors?.required">
                    IFSC Code cannot be empty
                  </div>
                  <div *ngIf="ifscCode.errors?.pattern">
                    Must follow pattern ex ="AAAA99999999"
                  </div>
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    #pancardNumber="ngModel"
                    pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}"
                    class="form-control"
                    placeholder="PAN card No *"
                    name="pancardNumber"
                    [(ngModel)]="user.pancardNumber"
                    maxlength="10"
                    minlength="10"
                    required
                  />
                </div>
                <div
                  style="color: red"
                  *ngIf="
                    pancardNumber.invalid &&
                    (pancardNumber.dirty || pancardNumber.touched)
                  "
                >
                  <div *ngIf="pancardNumber.errors?.required">
                    PAN Number cannot be empty
                  </div>
                  <div *ngIf="pancardNumber.errors?.pattern">
                    Must follow pattern ex ="AAAAA-9999-A"
                  </div>
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    #aadharNumber="ngModel"
                    pattern="[0-9]{12}"
                    maxlength="12"
                    class="form-control"
                    placeholder="Aadhar Card No *"
                    name="aadharNumber"
                    [(ngModel)]="user.aadharNumber"
                    required
                  />
                </div>
                <div
                  style="color: red"
                  *ngIf="
                    aadharNumber.invalid &&
                    (aadharNumber.dirty || aadharNumber.touched)
                  "
                >
                  <div *ngIf="aadharNumber.errors?.required">
                    Aadhar Number cannot be empty
                  </div>
                  <div *ngIf="aadharNumber.errors?.pattern">
                    Must contain 12 number
                  </div>
                </div>

                <div class="form-group">
                  <div class="maxl">
                    <label class="radio inline">
                      <input
                        type="radio"
                        name="cardType"
                        value="Gold"
                        [(ngModel)]="user.cardType"
                        checked
                      />
                      <span> Gold </span>&nbsp;
                    </label>
                    <label class="radio inline">
                      <input
                        type="radio"
                        name="cardType"
                        [(ngModel)]="user.cardType"
                        value="Titanium"
                      />
                      <span> Titaninum </span>
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <input
                    type="password"
                    #password="ngModel"
                    class="form-control"
                    placeholder="Password *"
                    name="password"
                    [(ngModel)]="user.password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    required
                  />
                </div>
                <div
                  style="color: red"
                  *ngIf="
                    password.invalid && (password.dirty || password.touched)
                  "
                >
                  <div *ngIf="password.errors?.required">
                    Password cannot be empty
                  </div>
                  <div *ngIf="password.errors?.pattern">
                    Must follow pattern
                  </div>
                </div>

                <input type="submit" class="btnRegister" value="Register" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
