.bg-light {
  background-color: #2874f0 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-brand {
  color: white;
}
.w3-bar-item {
  text-decoration: none;
}
