.thumbnail {
  padding: 20px 10px 10px 10px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 7px;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.main {
  width: 50%;
  margin: 50px auto;
}

.card {
  width: 17em;
  height: 23em;
}
