/* .rounded-lg {​​​​​​​
    border-radius: 1rem;
  }​​​​​​​​ */

/* .custom-file-label.rounded-pill {​​​​​​​​
border-radius: 50rem;
  }​​​​​​​​ */

/* .custom-file-label.rounded-pill::after {​​​​​​​​
border-radius: 050rem50rem0;
  }​​​​​​​​ */
/* .btn-dark{​​​​​​​​
    background-color: rgba(158, 158, 161, 0.781);
    border:black;
    color: black;
    border-radius: 15px;  
  }​​​​​​​​ */

